<a href="/">Etusivu</a>
{% if success %}
<p>{{manufacturer}} {{ model }} {{ type }} tallennettu järjestelmään onnistuneesti!</p>
{% endif %}
<form action="/submit" method="POST">
    <p>Auton tiedot:</p>
    <p>Merkki:
    <input type="text" name="manufacturer">
    <br>
    Malli:
    <input type="text" name="model">
    <br>
    Sukupolvi (esim. Gen 7):
    <input type="text" name="generation">
    <br>
    Tyyppi (esim. 2.0TDI):
    <input type="text" name="type">
    <br>
    Käyttövoima:
    <input type="radio" name="fuel" value="gas"> Bensiini
    <input type="radio" name="fuel" value="diesel"> Diesel    
    <br>
    Yhdistetty polttoaineenkulutus:
    <input type="number" name="avgconsumption" step=".1"></p>
    <p><input type="submit" value="Tallenna auto järjestelmään"></p>
    </form>