{% if session.email %}
<p>Olet kirjautunut sähköpostilla {{ session.email }}</p>
<a href="/logout">Kirjaudu ulos</a>
<br>
<a href="/createcar">Lisää auto</a>
<br>
<p>Luo uusi vertailu:
<form action="/createcomparison" method="POST">
<br>
Nimi:
<input type="text" name="name"></p>
<input type="submit" value="Luo vertailu">
</form>
<br>
<label for="comparisons">Vertailusi:</label>
<br>
<br>
<form action="/comparison" method="POST">
<select name="comparison" id="comparison">
  {% for comparison in comparisons %}
    <option value={{comparison[1]}}>{{comparison[0]}}</option>
  {% endfor %}
</select>
<input type="submit" value="Valitse">
</form>
{% else %}
<form action="/login" method="POST">
<p>Sähköposti:<br>
<input type="text" name="email"></p>
<p>Salasana:<br>
<input type="password" name="password"></p>
<input type="submit" value="Kirjaudu sisään">
</form>
<br>
<form action="/register" method="POST">
<p>Sähköposti:<br>
<input type="text" name="email"></p>
<p>Salasana:<br>
<input type="password" name="password"></p>
<br>
<input type="submit" value="Rekisteröidy">
</form>
{% endif %}